@font-face {
  font-family: 'Unbounded';
  src: url('/Unbounded/Unbounded-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family:  Ubuntu, sans-serif; 
}

body {
  background-color: #FFF7F0 ;
}

.header, h1, h2, h3, h4 {
  font-family: 'Unbounded', sans-serif !important;
}

a {
  color: #2b84d8;
  text-decoration: none;
  font-weight: 400;
}