@font-face {
  font-family: 'Unbounded';
  src: url('/Unbounded/Unbounded-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family:  Ubuntu, sans-serif; 
}

body {
  background-color: #FFF7F0 ;
}

.header {
  font-family: 'Unbounded', sans-serif !important;
}